/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.mainPage {
	background-color: #eeeff4;
}
.gwt-MenuBar gwt-MenuBar-horizontal {
	background-color: #3b5999;
}
.mainMenu {
	background-color: White;
}
.messageBoard {
	background-color: White;
}
.searchMenu {
	background-color: White;
}
.test {
	background-color: Black;
}
.northPanel {
	background-color: Blue;
}
.postMessage {
	margin-bottom: 5px;
}
.utentiMenu {
	background-color: White;
}
.adminMenu {
	background-color: White;
}
.gwt-Label-header {
	color: white;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-weight: bold;
	font-size: xx-large;
}
